@font-face {
  font-family: "oxygen";
  src: url("fonts/oxygen/oxygen-bold-webfont.woff2") format("woff2"),
    url("fonts/oxygen/oxygen-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "oxygen";
  src: url("fonts/oxygen/oxygen-regular-webfont.woff2") format("woff2"),
    url("fonts/oxygen/oxygen-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "spectral";
  src: url("fonts/spectral/spectral-bold-webfont.woff2") format("woff2"),
    url("fonts/spectral/spectral-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "spectral";
  src: url("fonts/spectral/spectral-regular-webfont.woff2") format("woff2"),
    url("fonts/spectral/spectral-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-primary: #00f7f7;
  --color-secondary: #39b6ff;
  --color-accent: #32d2c6;
  --color-headings: #000000;
  --color-body: #3c0042;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-display: optional;
  font-family: "oxygen", Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: "spectral", Arial, Helvetica, sans-serif;
  line-height: 1.1;
  margin-bottom: 1rem;
}

h2,
h3 {
  color: var(--color-headings);
}

h1 {
  font-size: 6rem;
  margin: 1rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 1296px) {
  h1 {
    font-size: 7rem;
  }
}

/* Links */

a {
  text-decoration: none;
}

/* Icons */

.icon {
  fill: var(--color-headings);
  height: 30px;
  width: 30px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--secondary {
  fill: var(--color-secondary);
  transition: fill 0.25s;
}

.icon--accent {
  fill: var(--color-accent);
}

.icon--white {
  fill: #fff;
  transition: fill 0.25s;
}

.icon--black {
  fill: black;
  transition: fill 0.25s;
}

.icon--left {
  cursor: pointer;
  height: 40px;
  opacity: 0.5;
  transform: rotate(90deg);
  transition: all 0.3s;
  width: 40px;
}

.icon--right {
  cursor: pointer;
  height: 40px;
  opacity: 0.5;
  transform: rotate(-90deg);
  transition: all 0.3s;
  width: 40px;
}

.icon--left:hover,
.icon--right:hover {
  opacity: 0.9;
}

.icon--left:hover {
  transform: rotate(90deg);
}

.icon--right:hover {
  transform: rotate(-90deg);
}

.services-icon {
  transform: scale(1.6);
}

.training-icon {
  transform: scale(1.2);
}

.icon-container {
  align-items: center;
  border-radius: 100%;
  display: inline-flex;
  height: 64px;
  justify-content: center;
  margin-left: 3rem;
  width: 64px;
}

@media screen and (max-width: 360px) {
  .icon--right,
  .icon--left {
    height: 30px;
    width: 30px;
  }
}

@media screen and (min-width: 768px) {
  .icon--right,
  .icon--left {
    height: 50px;
    width: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .icon--right,
  .icon--left {
    height: 60px;
    width: 60px;
  }
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list__item {
  display: inline-block;
  padding: 10px;
  margin: 0 10px;
  background: lightblue;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Buttons */

.btn {
  align-items: center;
  border-radius: 40px;
  border: 0;
  box-shadow: 0rem 0rem 20px #acacac;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.8rem;
  font-weight: bold;
  justify-content: center;
  margin: 1rem;
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--primary {
  background: var(--color-primary);
}

.btn--primary:hover {
  background: #58ffff;
}

.btn--secondary {
  background: var(--color-secondary);
  color: #000;
}

.btn--secondary:hover {
  background: #7ccfff;
}

.btn--secondary > .icon {
  fill: #000;
}

.btn--accent {
  background: var(--color-accent);
}

.btn--accent:hover {
  background: #3decde;
}

.btn--primary,
.btn--accent {
  color: var(--color-headings);
}

.btn--primary,
.btn--secondary,
.btn--accent {
  transition: background 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

.btn--primary:hover,
.btn--secondary:hover,
.btn--accent:hover {
  box-shadow: 0rem 0rem 20px grey;
  transform: scale(1.15);
}

.btn .icon {
  padding-left: 1rem;
}

.btn--long:hover {
  transform: scale(1.015);
}

.icon-btn {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Inputs */

.input {
  padding: 1.5rem 3.5rem;
  border: 1px solid #ccc;
  border-radius: 30px;
  outline: 0;
  font-size: 2rem;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* Quotes */

.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-headings);
  line-height: 1.3;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }
}

/* Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .grid--1x3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Blocks */

.block {
  padding: 6rem 2rem;
}

.block__header {
  margin-top: 0;
  text-align: center;
}

.block--regular {
  text-align: left;
}

.block--secondary {
  background: #39b6ff;
  color: black;
}

.block--accent {
  background: #3decde;
}

.block--white {
  background: #fff;
}

.block--secondary h1,
.block--secondary h2,
.block--secondary h3 {
  color: var(--color-headings);
}

.block--secondary-gradient {
  background: #39b6ff;
  background: linear-gradient(#fff, #39b6ff 10%);
  color: #000;
}

.block--accent-gradient {
  background: #3decde;
  background: linear-gradient(#fff, #3decde 10%);
}

.block--white-gradient {
  background: #fff;
  background: linear-gradient(#3decde, #fff 10%);
}

.block__content__btn {
  padding-left: 2rem;
}

.block__anchor {
  align-items: center;
  display: grid;
  justify-items: center;
}

.welcome__block {
  padding-top: 6rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .block .grid--1x2 {
    grid-template-columns: 1fr auto;
  }

  .block--secondary-gradient {
    background: #39b6ff;
    background: linear-gradient(#fff, #39b6ff 30%);
    color: #000;
  }

  .block--accent-gradient {
    background: #3decde;
    background: linear-gradient(#fff, #3decde 30%);
  }

  .block--white-gradient {
    background: #fff;
    background: linear-gradient(#3decde, #fff 30%);
  }
}

/* Collapsibles */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
}

.collapsible__icon {
  padding: 2rem;
}

.collapsible__content {
  max-height: 0vh;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.collapsible--expanded .collapsible__content {
  display: block;
  max-height: 100vh;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .collapsible--expanded .collapsible__content {
    display: none;
  }
}

/* Navigations Bars */

.nav {
  background: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.8rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  box-shadow: 1rem 0 3rem #dcdcdc, -1rem 0 3rem #dcdcdc;
}

.nav__button {
  font-size: 1.5rem;
  height: 60px;
  width: 150px;
}

.nav__brand__group {
  align-self: center;
}

.nav__brand {
  display: flex;
  flex-direction: row;
  height: auto;
  padding: 2rem;
}

.nav__logo {
  border-radius: 100%;
  height: 70px;
  width: 70px;
}

.nav__logo__title {
  align-self: center;
  color: #000;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  padding-left: 1rem;
  text-align: center;
  width: 120px;
}

.nav__list {
  margin-top: 2rem;
  width: 100%;
}

.nav__item {
  border-bottom: 1px solid #daeffc;
  padding: 1rem 2rem;
  vertical-align: middle;
}

.nav__item > a {
  color: #0054a6;
  opacity: 0.7;
  transition: all 0.3s;
}

.nav__item > a:hover,
.nav__item > a:hover .icon {
  opacity: 1;
}

.nav__item .icon {
  fill: #0054a6;
  height: 2.3rem;
  width: 2.3rem;
  margin-right: 1rem;
  opacity: 0.7;
  vertical-align: middle;
}

.nav__toggler {
  border-radius: 7.5px;
  cursor: pointer;
  fill: #39b6ff;
  height: 60px;
  opacity: 0.6;
  transition: box-shadow 0.25s, opacity 0.25s;
  width: 60px;
}

.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 30px 5px #39b6ff;
}

.nav__list {
  margin: 0;
}

.collapsible--expanded .nav__list {
  margin: 20px 0;
}

@media screen and (max-width: 360px) {
  .nav__logo {
    height: 50px;
    width: 50px;
  }

  .nav__logo__title {
    font-size: 1.8rem;
    width: 90px;
  }

  .nav__toggler {
    height: 45px;
    width: 45px;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    flex-wrap: nowrap;
  }

  .nav__brand {
    flex-direction: column;
    justify-content: center;
  }

  .nav__logo {
    align-self: center;
  }

  .nav__logo__title {
    padding-top: 1rem;
  }

  .nav__toggler,
  .nav__list {
    display: none;
  }

  .nav__list-widescreen {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 8rem);
  }
}

@media screen and (max-width: 767px) {
  .nav__list-widescreen {
    display: none;
  }
}

@media screen and (min-width: 1296px) {
  .nav {
    height: auto;
  }

  .nav__list-widescreen {
    /* align-items: center; */
    display: flex;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: none;
  }

  /* .nav > .nav__toggler,
  .nav > .nav__list {
    order: 2;
  }

  .nav > .nav__list-widescreen {
    order: 3;
  } */

  .nav__brand {
    flex-direction: row;
  }

  .nav__logo__title {
    padding-top: 0;
  }
}

@media screen and (min-width: 1600px) {
  .nav__button {
    margin: 1rem 2rem;
  }
}

/* Hero */

/* .background__image {
  background: url(../images/child.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: initial;
  background-position: center;
  height: 70vh;
  width: 100%;
} */

.hero__container {
  align-items: center;
  background-image: url(../images/herobg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.hero__block {
  padding: 0;
}

.hero__nameplate {
  align-items: center;
  color: var(--color-headings);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  padding: 0 2rem;
}

.hero__tagline {
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 1rem;
  margin: 0;
}

.hero__btn {
  font-weight: bold;
  letter-spacing: 0;
  margin: 1rem;
  width: 180px;
}

@media screen and (max-width: 360px) {
  .hero__container {
    height: 570px;
  }

  .hero__heading {
    font-size: 4.5rem;
  }

  .hero__tagline {
    font-size: 55%;
  }
}

@media screen and (min-width: 768px) {
  .hero__container {
    height: 1040px;
  }

  .hero__btn {
    font-size: 1.5rem;
  }

  .hero__tagline {
    font-size: 2.4rem;
  }
}

/* Background Images */

.background__image {
  background: url(../images/child.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: initial;
  background-position: center;
  height: 70vh;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .background__image {
    background-attachment: fixed;
  }
}

/* Testimonials */

.testimonials__container {
  text-align: center;
}

.testimonials__content {
  align-items: center;
  background: #fff;
  background: linear-gradient(
    135deg,
    #73e3ff,
    #fff 15%,
    #fff 85%,
    #73e3ff 100%
  );
  border-radius: 20px;
  box-shadow: 0 0 20px 10px #34ccbf;
  display: flex;
  height: 300px;
  margin: 3rem auto;
  padding: 2rem;
  position: relative;
}

.testimonials__slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonials__button {
  margin: 1rem;
}

.testimonials__content > .testimonials__icon-left {
  position: absolute;
  top: -1rem;
  left: -1rem;
}

.testimonials__content > .testimonials__icon-right {
  position: absolute;
  bottom: -1rem;
  right: -1rem;
}

.testimonials__content > p {
  font-style: italic;
  margin-bottom: 0;
  padding: 1rem;
}

.testimonial__text {
  display: none;
}

.testimonial__text.active {
  display: block;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.testimonial-bullet {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  margin: 0 2rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
}

.testimonial-bullet.active {
  background: cornflowerblue;
  box-shadow: 0 0 1px 1px inset white;
  animation: pop 0.2s linear;
}

@keyframes pop {
  from {
    box-shadow: 0 0 1px 10px inset white;
  }
  to {
    box-shadow: 0 0 1px 1px inset white;
  }
}

@media screen and (max-width: 360px) {
  .testimonial-bullet {
    height: 10px;
    width: 10px;
  }

  .testimonials__content {
    height: 360px;
  }
}

@media screen and (min-width: 420px) {
  .testimonials__content {
    height: 260px;
  }
}

@media screen and (min-width: 552px) {
  .testimonials__content {
    height: 220px;
  }
}

@media screen and (max-width: 767px) {
  .testimonial-bullet {
    height: 15px;
    margin: 0 1rem;
    width: 15px;
  }

  .testimonials__content > p {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .testimonial-bullet {
    height: 20px;
    width: 20px;
  }

  .testimonials__container {
    max-width: 75%;
  }

  .testimonials__content {
    height: 480px;
    padding: 3rem 6rem;
  }
}

@media screen and (min-width: 1024px) {
  .testimonial-bullet {
    height: 25px;
    width: 25px;
  }

  .testimonials__content {
    height: 250px;
  }
}

@media screen and (min-width: 1296px) {
  .testimonials__content {
    height: 200px;
  }
}

/* Questions block */

.questions__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.questions__button {
  width: 150px;
}

@media screen and (max-width: 360px) {
  .questions__buttons {
    align-items: center;
    flex-direction: column;
  }
}
