@font-face {
  font-family: "oxygen";
  src: url("fonts/oxygen/oxygen-bold-webfont.woff2") format("woff2"),
    url("fonts/oxygen/oxygen-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "oxygen";
  src: url("fonts/oxygen/oxygen-regular-webfont.woff2") format("woff2"),
    url("fonts/oxygen/oxygen-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "spectral";
  src: url("fonts/spectral/spectral-bold-webfont.woff2") format("woff2"),
    url("fonts/spectral/spectral-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "spectral";
  src: url("fonts/spectral/spectral-regular-webfont.woff2") format("woff2"),
    url("fonts/spectral/spectral-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-primary: #58ffff;
  --color-secondary: #1fadff;
  --color-accent: #40e0d0;
  --color-headings: #000000;
  --color-body: #3c0042;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: "oxygen", Arial, Helvetica, sans-serif;
  font-size: 2.7rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  font-family: "spectral", Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
}

h1 {
  font-size: 7.6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3.6rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2.3rem;
  }

  h1 {
    font-size: 8.4rem;
  }

  h2 {
    font-size: 4.8rem;
  }

  h3 {
    font-size: 3.2rem;
  }
}

/* Links */

a {
  text-decoration: none;
}

/* Icons */

.icon {
  fill: var(--color-headings);
  height: 40px;
  width: 40px;
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
  text-align: center;
  position: fixed;
  width: 100%;
  background: grey;
  margin: 0;
  padding: 27px;
  z-index: 1;
}

.list__item {
  display: inline-block;
  padding: 10px;
  margin: 0 10px;
  background: lightblue;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}

/* .menu {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
} */

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* @media screen and (max-width: 800px) {
  .list {
    display: none;
  }
  .list__item {
    display: list-item;
  }
  .menu {
    display: block;
  }
} */

/* Buttons */

.btn {
  align-items: center;
  border-radius: 40px;
  border: 0;
  box-shadow: 0rem 0rem 20px grey;
  cursor: pointer;
  display: inline-flex;
  font-size: 2.1rem;
  font-weight: bold;
  justify-content: center;
  margin: 1rem 2rem;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--primary {
  background: var(--color-primary);
}

.btn--primary:hover {
  background: #c7ffff;
}

.btn--secondary {
  background: var(--color-secondary);
}

.btn--secondary:hover {
  background: #66d9ff;
}

.btn--accent {
  background: var(--color-accent);
}

.btn--accent:hover {
  background: #3af0de;
}

.btn--outline {
  background: #fff;
  color: var(--color-headings);
  border: 3px solid var(--color-secondary);
}

.btn--outline:hover,
.btn--outline:hover .icon {
  background: var(--color-secondary);
  color: #fff;
  fill: #fff;
}

.btn--primary,
.btn--secondary,
.btn--accent {
  color: var(--color-headings);
  transition: background 5s ease-in-out, box-shadow 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

.btn--primary:hover,
.btn--secondary:hover,
.btn--accent:hover {
  box-shadow: 0rem 0rem 30px grey;
  transform: scale(1.15);
}

.btn .icon {
  padding-left: 1rem;
}

.btn--long {
  width: calc(100% - 4rem);
}

.btn--long:hover {
  transform: scale(1.015);
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 2rem;
  }
}

/* Inputs */

.input {
  padding: 1.5rem 3.5rem;
  border: 1px solid #ccc;
  border-radius: 30px;
  outline: 0;
  font-size: 2.4rem;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 2rem;
  }
}

/* Media */

.media__body {
  margin: 0 2rem;
}

.media__btn {
  margin: 1rem 1.5rem;
}
