<section class="block container">
  <h2 class="block__heading">Heading</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat esse
    perspiciatis enim assumenda temporibus odio, animi ullam dolor ea odit?
  </p>
</section>
<section class="block block--secondary">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat esse
      perspiciatis enim assumenda temporibus odio, animi ullam dolor ea odit?
    </p>
  </div>
</section>
