<section class="block block--secondary">
  <div class="container">
    <div class="grid grid--1x2">
      <div class="block__content">
        <h2 class="block__heading">Heading</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat esse
          perspiciatis enim assumenda temporibus odio, animi ullam dolor ea
          odit?
        </p>
      </div>
      <div class="icon-btn">
        <a href="#" class="btn btn--primary btn--stretched">
          Learn More
          <svg class="icon">
            <use xlink:href="images/integratesprite.svg#right-arrow"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="block">
  <div class="container">
    <div class="grid grid--1x2">
      <div class="block__content">
        <h2 class="block__heading">Heading</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat esse
          perspiciatis enim assumenda temporibus odio, animi ullam dolor ea
          odit?
        </p>
      </div>
      <div class="icon-btn">
        <a href="#" class="btn btn--accent btn--stretched">
          Learn More
          <svg class="icon">
            <use xlink:href="images/integratesprite.svg#right-arrow"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
