<div class="icon-btn">
  <button class="btn btn--primary">
    Learn More
    <svg class="icon">
      <use xlink:href="images/integratesprite.svg#right-arrow"></use>
    </svg>
  </button>
</div>
<div class="icon-btn">
  <button class="btn btn--secondary">
    Learn More
    <svg class="icon">
      <use xlink:href="images/integratesprite.svg#right-arrow"></use>
    </svg>
  </button>
</div>
<div class="icon-btn">
  <a href="#" class="btn btn--accent">
    Learn More
    <svg class="icon">
      <use xlink:href="images/integratesprite.svg#right-arrow"></use>
    </svg>
  </a>
</div>
<div class="icon-btn">
  <button class="btn btn--primary">
    Learn More
    <svg class="icon">
      <use xlink:href="images/integratesprite.svg#right-arrow"></use>
    </svg>
  </button>
</div>
<div class="icon-btn">
  <a href="#" class="btn btn--secondary btn--long">
    Learn More
    <svg class="icon">
      <use xlink:href="images/integratesprite.svg#right-arrow"></use>
    </svg>
  </a>
</div>
<div class="icon-btn">
  <button class="btn btn--accent btn--long">
    Learn More
    <svg class="icon">
      <use xlink:href="images/integratesprite.svg#right-arrow"></use>
    </svg>
  </button>
</div>
