<div class="media">
  <div class="media__body">
    <h3 class="media__title">A little about me</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse mollitia
      quod at tenetur beatae id, dolor fuga assumenda debitis voluptate itaque
      soluta. Reprehenderit perspiciatis, quisquam laboriosam quo, ipsum, quia
      doloribus hic sit vitae debitis consequuntur quam numquam a dolorum
      perferendis rerum facilis placeat beatae error tenetur. Iusto animi
      corrupti sit!
    </p>
  </div>
  <div class="media__btn">
    <div class="icon-btn">
      <button class="btn btn--primary">
        Learn More
        <svg class="icon">
          <use xlink:href="images/integratesprite.svg#right-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
