<section class="block">
  <div class="container testimonials__container">
    <h2>Testimonials</h2>
    <div class="testimonials__card">
      <svg class="icon icon--secondary testimonials__icon-left">
        <use xlink:href="images/integratesprite.svg#left-quote"></use>
      </svg>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, harum?
        Sapiente voluptatibus placeat quisquam deserunt quia architecto
        voluptatem ad corporis aspernatur non. Modi error cumque maxime
        voluptatem, doloribus maiores quis unde quibusdam aperiam mollitia
        alias, ipsum quaerat expedita, autem asperiores.
      </p>
      <svg class="icon icon--secondary testimonials__icon-right">
        <use xlink:href="images/integratesprite.svg#right-quote"></use>
      </svg>
    </div>
    <div class="grid testimonials__slider">
      <svg class="icon icon--secondary icon--left testimonials__button">
        <use xlink:href="images/integratesprite.svg#chevron"></use>
      </svg>
      <input
        class="testimonials__button"
        type="radio"
        name="testimonial"
        checked="checked"
      />
      <input class="testimonials__button" type="radio" name="testimonial" />
      <input class="testimonials__button" type="radio" name="testimonial" />
      <input class="testimonials__button" type="radio" name="testimonial" />
      <svg class="icon icon--secondary icon--right testimonials__button">
        <use xlink:href="images/integratesprite.svg#chevron"></use>
      </svg>
    </div>
  </div>
</section>
